.formContainer {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  background: #ece3f0;
  text-align: center;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.revHead {
  font-size: 25px;
  padding: 15px;
  font-weight: 600;
}

.fullname {
  font-size: 15px;
  padding-left: 20px;
  font-weight: 400;
}

.revDes {
  font-size: 15px;
  padding-left: 20px;
  font-weight: 400;
  padding-top: 10px;
}

.fullName {
  margin-left: 20px;
  font-size: 14px;
  width: 330px;
  margin-right: 20px;
  background-color: #613659;
  border-radius: 4px;
}

::placeholder {
  color: rgb(224, 224, 224);
}

.reviewDes {
  margin-top: 10px;
  width: 330px;
  height: 150px;
  padding: 5px 10px;
  border: none;
  background-color: #613659;
  font-size: 13px;
  resize: none;
  font-family: Raleway;
  color: #ece3f0;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
}

.starRatelabel {
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 10px;
}

.starComp {
  display: flex;
  align-items: flex-start;
  padding-left: 17px;
  padding-top: 10px;
}

.uploadImage {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 400;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
}

.fileUpload {
  background: #ece3f0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Raleway";
  padding-top: 5px;
  padding-left: 20px;
  border: none;
}

.uploadButt {
  font-family: "Raleway";
  width: 97px;
  height: 45px;
  color: white;
  font-size: 15px;
  margin-left: 19px;
  margin-top: 2px;
  border: none;
  background-color: #211522;
  border-radius: 4px;
}

.revButCont {
  display: flex;
  flex-direction: row;
  height: 75px;
}

.reviewBtn {
  font-family: "Raleway";
  color: white;
  font-size: 15px;
  width: 163px;
  margin: 10px;
  border: none;
  background-color: #211522;
  border-radius: 4px;
}

.cancelReview {
  font-family: "Raleway";
  color: black;
  font-size: 15px;
  width: 163px;
  margin: 10px;
  border: none;
  background-color: white;
  border-radius: 4px;
}

.reviewsecCont {
  padding-left: 80px;
  width: max-content;

  @media screen and (max-width: 938px) {
    padding-left: 30px;
    width: auto;
  }
}

.revCont {
  display: flex;
  flex-direction: row;
}

.profilePic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nameAndDate {
  margin-left: 16px;
  margin-top: 8px;
}

.profileName {
  font-size: 17px;
  font-weight: 500;
  color: #3e3a3a;
  line-height: 24px;
}

.profileDate {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(63, 62, 62);
}

.profileRating {
  margin-left: 5px;
  margin-top: 8px;
}

.profileComment {
  padding-top: 5px;
  padding-left: 8px;
}
